---
import { allLanguages, defaultLang } from "~/i18n/languages";

import Layout from "~/layouts/Layout.astro";
import { operatorAvatar } from "~/utils/images";
import { getAbsoluteLocaleUrl, getPathByLocale } from "astro:i18n";
import type { Locale } from "~/i18n/languages";
import { ui } from "~/i18n/ui";
import { useTranslations } from "~/i18n/utils";
import { operatorSplash } from "../../utils/images";

import About from "~/components/navigation/About.tsx";

const preferredLocale = Astro.preferredLocale ?? defaultLang as Locale;
const absoluteLocaleUrl = getAbsoluteLocaleUrl(preferredLocale, "/");

const t = useTranslations(preferredLocale);

export function getStaticPaths() {
	return Object.keys(allLanguages).flatMap((lang) => {
		return {
			params: {
				locale: lang,
			},
		};
	})
}

const memberGroups: {
	title: string;
	members: { name: string; role: string; imageFilename: string }[];
}[] = [
	{
		title: "Content",
		members: [
			{
				name: "nikoleye",
				role: "Lead Writer",
				imageFilename: "nikoleye.png",
			},
			{
				name: "Thanik",
				role: "Writer, Editor",
				imageFilename: "thanik.jpg",
			},
			{
				name: "iana",
				role: "Writer, Editor",
				imageFilename: "iana.png",
			},
			{
				name: "kawa",
				role: "Editor",
				imageFilename: "kawa.jpg",
			},
			{
				name: "PeterYR",
				role: "Writer, Editor",
				imageFilename: "peteryr.png",
			},
			{
				name: "cube",
				role: "Writer",
				imageFilename: "cube.png",
			},
			{
				name: "lyrad",
				role: "Writer",
				imageFilename: "lyrad.png",
			},
			{
				name: "ScifiGemini0616",
				role: "Writer",
				imageFilename: "scifigemini.png",
			},
			{
				name: "july",
				role: "Writer",
				imageFilename: "july.png",
			},
			{
				name: "phlegyas",
				role: "Writer",
				imageFilename: "phlegyas.png",
			},
		],
	},
	{
		title: "Development",
		members: [
			{
				name: "samidare",
				role: "Main Developer",
				imageFilename: "samidare.png",
			},
			{
				name: "Stinggyray",
				role: "Main Developer, Editor",
				imageFilename: "stinggyray.png",
			},
			{
				name: "Blede",
				role: "Main Developer",
				imageFilename: "blede.png",
			},
			{
				name: "relearn",
				role: "Developer",
				imageFilename: "relearn.png",
			},
			{
				name: "JyuViGrace",
				role: "Developer",
				imageFilename: "jyuvigrace.png",
			},
			{
				name: "neia",
				role: "Developer",
				imageFilename: "neia.png",
			},
		],
	},
	{
		title: "Design",
		members: [
			{
				name: "namtar",
				role: "Founder, Designer",
				imageFilename: "namtar.jpg",
			},
		],
	},
	{
		title: "Help",
		members: [
			{
				name: "Kirahuang",
				role: "Host, Advisor",
				imageFilename: "kirahuang.png",
			},
			{
				name: "Noël",
				role: "Founder, Advisor",
				imageFilename: "noel.png",
			},
			{
				name: "pepegaturtle",
				role: ":pepegaturtle:",
				imageFilename: "pepegaturtle.png",
			},
		],
	},
];

---

<Layout title={t("nav.about")}>
	<meta slot="head" name="description" content="About Sanity;Gone, a fan-made Arknights website." />
	<meta slot="head" property="og:description" content="About Sanity;Gone, a fan-made Arknights website." />
	<meta slot="head" property="og:image" content={`${Astro.url.origin}/brain-big.png`} />
	<meta slot="head" property="og:title" content={t("nav.about")} />
	<meta slot="head" property="og:type" content="website" />
	<div
		class="absolute top-0 left-0 right-0 bottom-1/2 bg-center bg-cover -z-10 before:-z-10 before:absolute before:inset-0 before:bg-[linear-gradient(180deg,rgba(20,20,27,0)_40%,rgba(20,20,27,0.75)_75%,#14141B_100%);]"
		style={`background-image: url("/bg/about.jpg");`}
	/>
	<div class="mx-auto w-auto max-w-[1280px] text-base flex flex-col gap-y-4">
		<h1 class="px-3 text-4xl font-bold mt-10">{t("nav.about").toLocaleUpperCase()}</h1>
		<h1 class="px-3 font-semibold text-3xl">Sanity;Gone Team</h1>
		<div>
			<About memberGroups={memberGroups} client:load />
		</div>
	</div>
</Layout>
