---
import { allLanguages, defaultLang } from "~/i18n/languages";

import Layout from "~/layouts/Layout.astro";
import { operatorAvatar } from "~/utils/images";
import { getAbsoluteLocaleUrl, getPathByLocale } from "astro:i18n";
import type { Locale } from "~/i18n/languages";
import { ui } from "~/i18n/ui";
import { useTranslations } from "~/i18n/utils";
import { operatorSplash } from "../../utils/images";

const preferredLocale = Astro.preferredLocale ?? defaultLang as Locale;
const absoluteLocaleUrl = getAbsoluteLocaleUrl(preferredLocale, "/");

const t = useTranslations(preferredLocale as keyof typeof ui);

export function getStaticPaths() {
	return Object.keys(allLanguages).flatMap((lang) => {
		return {
			params: {
				locale: lang,
			},
		};
	})
}
---

<Layout title={t("nav.disclaimer")}>
	<meta slot="head" name="description" content="Disclaimer for Sanity;Gone, a fan-made Arknights website. (Please don't sue us.)" />
	<meta slot="head" property="og:description" content="Disclaimer for Sanity;Gone, a fan-made Arknights website. (Please don't sue us.)" />
	<meta slot="head" property="og:image" content={`${Astro.url.origin}/brain-big.png`} />
	<meta slot="head" property="og:title" content={t("nav.disclaimer")} />
	<meta slot="head" property="og:type" content="website" />

	<div
		class="absolute top-0 left-0 right-0 bottom-1/2 bg-center bg-cover -z-10 before:-z-10 before:absolute before:inset-0 before:bg-[linear-gradient(180deg,rgba(20,20,27,0)_40%,rgba(20,20,27,0.75)_75%,#14141B_100%);]"
		style={`background-image: url("/bg/disclaimer.jpg");`}
	/>
	<div class="px-6 py-4 mx-auto w-auto max-w-[1280px] text-base sm:text-lg flex flex-col gap-y-8">
		<h1 class="text-4xl font-bold mt-10">{t("nav.disclaimer").toLocaleUpperCase()}</h1>
		<p>
			<b>Sanity;Gone</b> is an unofficial fan project and is not affiliated
			with or endorsed by Hypergryph/Studio Montagne/Yostar,
			Arknights&rsquo; creators & distributors. The in-game assets used on
			this site are the property of Hypergryph/Yostar.
		</p>
		<p>
			This website may contain copyrighted material, the use of which may
			not have specifically authorized by the copyright owner. The material
			contained in this website is distributed without profit for research
			and educational purposes. Only small portions of the original work are
			being used and those could not be used easily to duplicate the
			original work.
		</p>
		<p>
			Under section 107 of the Copyright Act of 1976, allowance is made for
			“fair use” for purposes such as criticism, comment, news reporting,
			teaching, scholarship, education and research. Fair use is a use
			permitted by copyright statute that might otherwise be infringing.
		</p>
		<p>
			If you wish to use any copyrighted material from this site for
			purposes of your own that go beyond “fair use”, you must obtain
			expressed permission from the copyright owner.
		</p>
	</div>

</Layout>
