<a href="https://discord.gg/bAnrGzw75H" aria-label="Discord">
  <svg
    width="24"
    height="27"
    viewBox="0 0 24 27"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M21.1112 0.406006C22.6692 0.406006 23.9258 1.6659 24 3.14851V27L21.0337 24.4814L19.4048 22.9987L17.6274 21.4496L18.3698 23.893H2.81453C1.261 23.893 0 22.7129 0 21.1493V3.15405C0 1.67144 1.26322 0.40933 2.82007 0.40933H21.1035L21.1112 0.406006ZM14.332 6.70325H14.2987L14.0749 6.92487C16.3719 7.58972 17.4834 8.62799 17.4834 8.62799C16.003 7.88779 14.6688 7.51769 13.3347 7.3681C12.3707 7.21851 11.4066 7.29718 10.5922 7.3681H10.3706C9.84976 7.3681 8.74168 7.58972 7.25684 8.18254C6.73937 8.40748 6.4424 8.55486 6.4424 8.55486C6.4424 8.55486 7.5527 7.44456 9.99935 6.85173L9.84976 6.70214C9.84976 6.70214 7.99704 6.63122 5.99695 8.10941C5.99695 8.10941 3.99686 11.5932 3.99686 15.8882C3.99686 15.8882 5.10494 17.8162 8.14442 17.8894C8.14442 17.8894 8.58765 17.2988 9.03643 16.7791C7.32998 16.2605 6.66513 15.2233 6.66513 15.2233C6.66513 15.2233 6.81361 15.2964 7.03634 15.4449H7.10282C7.13606 15.4449 7.15158 15.4615 7.16931 15.4782V15.4848C7.18703 15.5025 7.20255 15.5181 7.23579 15.5181C7.60146 15.6688 7.96713 15.8172 8.26631 15.9613C8.78268 16.1851 9.44642 16.4079 10.2609 16.5552C11.2914 16.7048 12.4726 16.7768 13.8178 16.5552C14.4827 16.4056 15.1475 16.2594 15.8124 15.9624C16.2445 15.7408 16.7764 15.5192 17.3604 15.1457C17.3604 15.1457 16.6955 16.1829 14.917 16.7015C15.2827 17.2179 15.798 17.8096 15.798 17.8096C18.8385 17.7431 20.0198 15.815 20.0862 15.897C20.0862 11.6087 18.0751 8.11827 18.0751 8.11827C16.2634 6.77306 14.568 6.72209 14.2688 6.72209L14.3309 6.69992L14.332 6.70325ZM14.5181 11.5932C15.2971 11.5932 15.9254 12.2581 15.9254 13.0725C15.9254 13.8925 15.2938 14.5574 14.5181 14.5574C13.7425 14.5574 13.1109 13.8925 13.1109 13.0792C13.1131 12.2592 13.7458 11.5965 14.5181 11.5965V11.5932ZM9.48409 11.5932C10.2598 11.5932 10.8869 12.2581 10.8869 13.0725C10.8869 13.8925 10.2553 14.5574 9.47966 14.5574C8.704 14.5574 8.07239 13.8925 8.07239 13.0792C8.07239 12.2592 8.704 11.5965 9.47966 11.5965L9.48409 11.5932Z"
      fill="#87879B"></path>
  </svg>
</a>
