---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Operator List">
	<div
		class="absolute top-0 left-0 right-0 bottom-1/2 bg-center bg-cover -z-10 before:-z-10 before:absolute before:inset-0 before:bg-[linear-gradient(180deg,rgba(16,16,20,0)_40%,rgba(16,16,20,0.75)_75%,#101014_100%);]"
		style={`background-image: url("/bg/disclaimer.jpg");`}
	/>
	<div class="px-6 py-4 mx-auto w-auto max-w-[1280px] text-base sm:text-lg flex flex-col gap-y-8">
		<h1 class="text-4xl font-bold mt-10">404 - Page Not Found</h1>
		<p>
			The page you are looking for, much like our sanity, does not exist. Please check the URL for any errors, or <a href="/" class="text-blue">flee to the safety of our homepage.</a>
		</p>
	</div>
</Layout>
