---
import Layout from "~/layouts/Layout.astro";
import OperatorFilterBar from "~/components/operator/filters/OperatorFilterBar";
import OperatorList from "~/components/operator/OperatorList";
import { getPathByLocale } from "astro:i18n";
import { defaultLang } from "~/i18n/languages";
import { localeStore } from "../_store";

const locale = getPathByLocale(Astro.currentLocale ?? defaultLang);
localeStore.set(locale);
---

<Layout title="Operator List">
	<section class="max-w-[1280px] mx-auto sm:p-5">
		<OperatorFilterBar client:visible />

		<OperatorList locale={locale} client:visible />
	</section>
</Layout>
<script slot="head" define:vars={{ locale }}>
	window.locale = locale;
</script>
