---
import Layout from "~/layouts/Layout.astro";
import OperatorFilterBar from "~/components/operator/filters/OperatorFilterBar";
import OperatorList from "~/components/operator/OperatorList";
import { getPathByLocale } from "astro:i18n";
import { defaultLang } from "~/i18n/languages";
import { localeStore } from "../_store";
import { $filterProfession, initializeFiltersFromUrl } from "./_store";

const locale = getPathByLocale(Astro.currentLocale ?? defaultLang);
localeStore.set(locale);
initializeFiltersFromUrl((new URL(Astro.request.url)).searchParams);
const queryParams = Object.fromEntries((new URL(Astro.request.url)).searchParams.entries());
---

<Layout title="Operator List">
	<section class="mx-auto p-5 sm:py-auto max-w-[1800px]">
		<OperatorFilterBar client:visible />

		<OperatorList locale={locale} client:visible />
	</section>
</Layout>
<script slot="head" define:vars={{ locale, queryParams }}>
	window.locale = locale;
	window.queryParams = queryParams;
</script>
