@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scrollbar-width: auto;
	scrollbar-color: rgba(255, 255, 255, 0.8) transparent;
}

a,
a:link,
a:visited {
	text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

.search-input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

*::-webkit-scrollbar {
	width: 8px;
}

*::-webkit-scrollbar-thumb {
	border-radius: 8px;
	border: 1px solid transparent;
	background-clip: content-box;
	background-color: rgba(255, 255, 255, 0.3);
}

*::-webkit-scrollbar-thumb:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

*::-webkit-scrollbar-thumb:active {
	background-color: rgba(255, 255, 255, 0.8);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
}

:root {
	-webkit-font-smoothing: antialiased;
	--color-rarity-1: theme("colors.neutral.50");
	--color-rarity-1-dark: theme("colors.neutral.100");
	--color-rarity-2: theme("colors.green.light");
	--color-rarity-2-dark: theme("colors.green.DEFAULT");
	--color-rarity-3: theme("colors.blue.light");
	--color-rarity-3-dark: theme("colors.blue.DEFAULT");
	--color-rarity-4: theme("colors.purple.light");
	--color-rarity-4-dark: theme("colors.purple.DEFAULT");
	--color-rarity-5: theme("colors.yellow.light");
	--color-rarity-5-dark: theme("colors.yellow.DEFAULT");
	--color-rarity-6: theme("colors.orange.light");
	--color-rarity-6-dark: theme("colors.orange.DEFAULT");
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

img {
	object-fit: contain;
}

.skill-sp-type-item {
	& ~ &::before {
		content: "";
		@apply absolute;
		@apply left-6;
		@apply top-0;
		@apply bottom-0;
		@apply border-l;
		@apply border-neutral-600;
	}
}

.highlight-desc {
	.value-up {
		@apply font-bold;
		@apply text-blue-light;
	}
	.value-down {
		@apply font-bold;
		@apply text-red-light;
	}
	.skill-tooltip {
		@apply text-neutral-200;
	}
}

.module-desc {
	.keyword {
		@apply font-bold;
		@apply text-blue-light
	}
}

.swiper-button-next, .swiper-button-prev {
	--swiper-navigation-sides-offset: -5px;
	background: radial-gradient(circle at 50% 50%, #24242E 0, rgba(36, 36, 46, 0.6) 50%, rgba(0,0,0,0) 99%);
	@apply text-neutral-50;;
}
.swiper-button-disabled{
	display: none;
}
.swiper-button-next::after, .swiper-button-prev::after{
	--swiper-navigation-size: 20px;
	width: 10px;
}

.swiper-slide:first-child{
	@apply pl-4;
	@apply sm:pl-0;
}
.swiper-slide:last-child{
	@apply pr-4;
	@apply sm:pr-0;
}