---
export interface Props {
	active: boolean;
	href: string;
	name: string;
	icon: JSX.Element;
}
const { active, href, name, icon: IconComponent } = Astro.props;
---

<a href={href} class:list={['block', {'border-r-2 border-neutral-100':active}]}>
	<p
		class:list={[
			"h-16 pl-3 sm:pl-6 flex items-center text-neutral-300 text-base leading-6",
			{ "hover:bg-neutral-600": !active },
			{ "bg-neutral-500": active },
		]}
	>
		<IconComponent className="mr-6" active={active}></IconComponent>
		<span
			class={active
				? "text-neutral-50 font-semibold"
				: "text-neutral-200"}>{name}</span
		>
	</p>
</a>
