---
/** This component is used for both the desktop sidebar as well as the toggleable mobile menu. */

import DiscordLogo from "~/components/icons/DiscordLogo.astro";
import TwitterLogo from "~/components/icons/TwitterLogo.astro";
import NavigationLink from "~/components/navigation/NavigationLink.astro";
import { getPathByLocale, getRelativeLocaleUrl } from "astro:i18n";
import { allLanguages, defaultLang } from "~/i18n/languages";
import { stripLangFromUrl, useTranslations } from "~/i18n/utils";
import type { ui } from "~/i18n/ui";
import LanguageSwitcher from "./LanguageSwitcher.tsx";
import { getLangFromUrl } from "~/i18n/utils";

const languages = Object.entries(allLanguages).map(([key, language]) => {
	return [
		key,
		{
			url: getRelativeLocaleUrl(key, stripLangFromUrl(Astro.url)),
			label: language,
		},
	];
});
console.log(stripLangFromUrl(Astro.url), Astro.url.pathname);

const locale = getPathByLocale(Astro.currentLocale ?? defaultLang);
const t = useTranslations(locale as keyof typeof ui);

const sidebarLinks: { href: string; name: string }[] = [
	{
		href: getRelativeLocaleUrl(locale, "/"),
		name: t("nav.home"),
	},
	{
		href: getRelativeLocaleUrl(locale, "/operators"),
		name: t("nav.operators"),
	},
	// {
	//   href: "/dps",
	//   name: "DPS Calculator",
	// },
	// {
	//   href: "/maps",
	//   name: "Maps",
	// },
];
---

<div class="flex flex-col h-full">
	<nav class="flex-grow">
		{
			sidebarLinks.map(({ href, name }) => (
				<NavigationLink
					href={href}
					name={name}
					active={
						href === "/"
							? Astro.url.pathname === "/"
							: Astro.url.pathname.startsWith(href)
					}
				/>
			))
		}
	</nav>
	<div class="px-6 my-6 flex flex-col gap-6 text-sm">
		<div class="flex gap-4 justify-center">
			<DiscordLogo />
			<TwitterLogo />
		</div>
		<hr class="text-neutral-400" />
		<p class="text-neutral-200">
			Sanity;Gone is a community resource for Arknights players, providing
			guides, reviews, and detailed information about the game.
		</p>
		<LanguageSwitcher
			languages={Object.fromEntries(languages)}
			currentLanguage={locale}
			client:visible
		/>
		<nav class="flex justify-between items-center text-neutral-100">
			<a class="hover:text-neutral-50" href="#">Disclaimer</a>
			<a class="hover:text-neutral-50" href="#">About</a>
			<a class="hover:text-neutral-50" href="#">Contact</a>
		</nav>
	</div>
</div>
