<a href="https://twitter.com/SanityGoneAK" aria-label="Twitter" class="flex items-center justify-center">
  <svg
    width="24"
    height="21"
    viewBox="0 0 24 21"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M23.953 3.27285C23.068 3.66184 22.1231 3.92683 21.1281 4.04782C22.1421 3.43685 22.922 2.47389 23.291 1.32494C22.3401 1.87991 21.2861 2.2839 20.1642 2.50889C19.2682 1.54993 17.9912 0.949951 16.5733 0.949951C13.8564 0.949951 11.6535 3.15286 11.6535 5.86675C11.6535 6.25673 11.6985 6.63171 11.7805 6.9907C7.69068 6.79771 4.06583 4.83379 1.63993 1.86491C1.21295 2.58688 0.973959 3.42585 0.973959 4.33981C0.973959 6.04974 1.84392 7.55268 3.16187 8.43564C2.3549 8.40964 1.59593 8.18765 0.933961 7.81966V7.88066C0.933961 10.2656 2.62689 12.2545 4.8798 12.7075C4.46681 12.8185 4.03083 12.8785 3.58385 12.8785C3.26986 12.8785 2.96888 12.8485 2.66789 12.7925C3.29886 14.7454 5.11279 16.1693 7.2717 16.2093C5.59177 17.5283 3.46286 18.3142 1.16995 18.3142C0.779967 18.3142 0.390984 18.2912 0 18.2472C2.18891 19.6412 4.7678 20.4561 7.55669 20.4561C16.6103 20.4561 21.5551 12.9605 21.5551 6.47072C21.5551 6.26173 21.5551 6.05074 21.5401 5.84075C22.5011 5.15178 23.34 4.28081 24 3.29285L23.953 3.27285Z"
      fill="#87879B"></path>
  </svg>
</a>
