---
export interface Props {
	title: string;
	previousLocation?: string;
	previousLocationLink?: string;
}

const { title, previousLocation, previousLocationLink } = Astro.props;

import { getPathByLocale } from "astro:i18n";
import SearchBar from "../components/navigation/SearchBar";
import SanityGoneLogo from "~/components/SanityGoneLogo";
import Sidebar from "~/components/navigation/Sidebar.astro";
import { defaultLang, type Locale } from "~/i18n/languages";

const locale = getPathByLocale(Astro.currentLocale ?? defaultLang);

import "~/styles/base.css";
---

<script>
	import initializeFocusSource from "ally.js/src/style/focus-source";

	document.addEventListener("DOMContentLoaded", () => {
		const mobileMenuTrigger = document.getElementById(
			"mobile-menu-trigger"
		)!;
		const siteWrapper = document.getElementById("site-wrapper")!;
		mobileMenuTrigger.addEventListener("click", () => {
			const open = siteWrapper.dataset.menuOpen === "true";
			siteWrapper.dataset.menuOpen = `${!open}`;
			mobileMenuTrigger.ariaExpanded = `${!open}`;
		});
		initializeFocusSource();
	});
</script>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin=""
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>
		<slot name="head" />
	</head>
	<body class="bg-neutral-800 text-neutral-50 sm:overflow-hidden">
		<div
			id="site-wrapper"
			class="h-full group/sitewrapper grid grid-areas-mobile-layout grid-cols-mobile-layout grid-rows-mobile-layout sm:grid-areas-desktop-layout sm:grid-rows-desktop-layout sm:grid-cols-desktop-layout"
			data-menu-open="false"
		>
			<div
				class="flex justify-between grid-in-logo px-3 border-b border-r border-solid border-neutral-500 bg-neutral-700"
			>
				<SanityGoneLogo locale={locale} />
				<button
					class="sm:hidden"
					id="mobile-menu-trigger"
					aria-expanded="false"
				>
					<svg
						width="17"
						height="16"
						viewBox="0 0 17 16"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M16.5446 2.73404C16.7723 2.73404 17 2.53457 17 2.25532V0.978723C17 0.739362 16.7723 0.5 16.5446 0.5H0.455357C0.189732 0.5 0 0.739362 0 0.978723V2.25532C0 2.53457 0.189732 2.73404 0.455357 2.73404H16.5446ZM16.5446 9.11702C16.7723 9.11702 17 8.91755 17 8.6383V7.3617C17 7.12234 16.7723 6.88298 16.5446 6.88298H0.455357C0.189732 6.88298 0 7.12234 0 7.3617V8.6383C0 8.91755 0.189732 9.11702 0.455357 9.11702H16.5446ZM16.5446 15.5C16.7723 15.5 17 15.3005 17 15.0213V13.7447C17 13.5053 16.7723 13.266 16.5446 13.266H0.455357C0.189732 13.266 0 13.5053 0 13.7447V15.0213C0 15.3005 0.189732 15.5 0.455357 15.5H16.5446Z"
							fill="#E3E1EF"></path>
					</svg>
				</button>
			</div>
			<div
				id="searchbar"
				class="hidden grid-in-search sm:grid-in-topright group-data-[menu-open=true]/sitewrapper:block sm:block border-b border-solid border-neutral-500 sm:bg-neutral-700"
			>
				<SearchBar
					placeholder="Search"
					locale={locale as Locale}
					client:visible
				/>
			</div>
			<div
				id="sidebar"
				class="hidden grid-in-main sm:grid-in-sidebar group-data-[menu-open=true]/sitewrapper:block sm:block shadow-3xl"
			>
				<Sidebar />
			</div>
			<main
				class="grid-in-main group-data-[menu-open=true]/sitewrapper:hidden group-data-[menu-open=false]/sitewrapper:row-start-2 sm:p-5 sm:overflow-y-auto"
			>
				<slot />
			</main>
		</div>
	</body>
</html>
