---
export interface Props {
	title: string;
	previousLocation?: string;
	previousLocationLink?: string;
}

const { title, previousLocation, previousLocationLink } = Astro.props;

import DiscordLogo from "../components/icons/DiscordLogo.astro";
import TwitterLogo from "../components/icons/TwitterLogo.astro";
import NavigationLink from "../components/navigation/NavigationLink.astro";
import Sidebar from "../components/navigation/Sidebar";
import SearchBar from "../components/navigation/Searchbar";

import "../styles/global.css";

const sidebarLinks: {href: string, name:string}[] = [
	{
		href: "/",
		name: "Home",
	},
	{
		href: "/operators",
		name: "Operators",
	},
	// {
	//   href: "/dps",
	//   name: "DPS Calculator",
	// },
	// {
	//   href: "/maps",
	//   name: "Maps",
	// },
];
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin=""
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>
		<slot name="head" />
	</head>
	<body class="bg-neutral-700">
		<div class="sm:flex flex-row h-full isolate">
			<Sidebar client:visible>
				<div class="flex flex-col h-full">
					<div
						class="sm:hidden py-4 flex justify-center items-center"
					>
						<SearchBar placeholder="Search" client:visible/>
					</div>
					<nav class="flex-grow">
						{
							sidebarLinks.map(({ href, name }) => (
								<NavigationLink
									href={href}
									name={name}
									active={
										href === "/"
											? Astro.url.pathname === "/"
											: Astro.url.pathname.startsWith(
													href
												)
									}
								/>
							))
						}
					</nav>
					<footer class="px-6 mb-6 text-sm">
						<div class="flex gap-4 justify-center">
							<DiscordLogo />
							<TwitterLogo />
						</div>
						<hr class="text-neutral-400 my-6" />
						<p class="mb-6 text-neutral-200">
							Sanity;Gone is a community resource for Arknights
							players, providing guides, reviews, and detailed
							information about the game.
						</p>
						<nav
							class="flex justify-between items-center text-neutral-100"
						>
							<a class="hover:text-neutral-50" href="#"
								>Disclaimer</a
							>
							<a class="hover:text-neutral-50" href="#">About</a>
							<a class="hover:text-neutral-50" href="#"
								>Contact</a
							>
						</nav>
					</footer>
				</div>
			</Sidebar>

			<div class="flex-1 flex flex-col sm:ml-[228px]">
				<div
					class="hidden sm:flex sm:fixed w-full min-h-16 bg-neutral-600 shadow-3xl border-b border-neutral-500 border-solid items-center z-50"
				>
					<SearchBar placeholder="Search" client:visible/>
				</div>
				<main class="p-6 mt-16">
					<slot />
				</main>
			</div>
		</div>
		<style is:global>
			html {
				font-family: "Source Sans Pro", sans-serif;
			}
		</style>
	</body>
</html>
