name: Update assets

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0,6,12,18 * * *"

jobs:
  download_and_update_data:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Make envfile
        uses: SpicyPizza/create-envfile@v2.0
        with:
          directory: ./apps/sanity-gone
          envkey_MEILISEARCH_KEY: ${{ secrets.MEILISEARCH_KEY }}
          envkey_PUBLIC_MEILISEARCH_URL: ${{ secrets.PUBLIC_MEILISEARCH_URL }}
          envkey_PUBLIC_MEILISEARCH_INDEX: ${{ secrets.PUBLIC_MEILISEARCH_INDEX }}
          envkey_PUBLIC_MEILISEARCH_KEY: ${{ secrets.PUBLIC_MEILISEARCH_KEY }}
          envkey_CONTENTFUL_SPACE_ID: ${{ secrets.CONTENTFUL_SPACE_ID }}
          envkey_CONTENTFUL_ACCESS_TOKEN: ${{ secrets.CONTENTFUL_ACCESS_TOKEN }}
          envkey_CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}

      - name: Set Node.js 22.x
        uses: actions/setup-node@v3
        with:
          node-version: 22.x

      - name: Install PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 10.18.2

      - name: Setup Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Dependencies
        run: pnpm install

      - name: Install Turbo Global
        run: pnpm add turbo --global

      - name: Run Update Data
        run: turbo update-game-data

      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "update(game-data): update game data"
          commit_author: "Sanity;Gone <actions@users.noreply.github.com>"
          commit_user_name: "Sanity;Gone 0"
          commit_author_email: "actions@users.noreply.github.com"

      - name: Install Dependencies
        run: cd apps/sanity-gone && pnpm build  

      - uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          workingDirectory: ./apps/sanity-gone
          command: pages deploy dist --project-name=sanity-gone-v3
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}